<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>976436395184-nto0cahug2jgm68s3dhiflfasdfar2p1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.976436395184-nto0cahug2jgm68s3dhiflfasdfar2p1</string>
	<key>API_KEY</key>
	<string>AIzaSyBY4RLb0IJsfL7yTqzHXTub1xNwtGJrqnU</string>
	<key>GCM_SENDER_ID</key>
	<string>976436395184</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.focusfreightusa</string>
	<key>PROJECT_ID</key>
	<string>focusfreightusa-6d47c</string>
	<key>STORAGE_BUCKET</key>
	<string>focusfreightusa-6d47c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:976436395184:ios:4cf93bd2ed822a06a0cf75</string>
</dict>
</plist>